<!DOCTYPE html>
<html
	lang="fr">
	<head>
		<meta
			charset="UTF-8">
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}
				Bienvenue sur Evento!
			{% endblock %}
		</title>
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link
			rel="stylesheet"
			href="https://bootswatch.com/5/flatly/bootstrap.min.css">
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
			{% block stylesheets %}{% endblock %}
		</head>

		<!-- Navbar -->
		<nav
			class="navbar navbar-expand-lg bg-primary sticky-top"
			data-bs-theme="Primary">
			<div
				class="container-fluid">
				<a
					class="navbar-brand text-white text-bold"
					href="/">
					Evento
				</a>

				<div
					class="d-flex w-100 justify-content-between">
					<!-- Partie gauche : Espace Admin / Utilisateur -->
					{% if app.user %}
						<ul
							class="navbar-nav me-auto mb-2 mb-lg-0">
							{% if 'ROLE_ADMIN' in app.user.getRoles() %}

								<li
									class="nav-item">
									<a
										class="nav-link active text-white"
										href="{{ path('admin_dashboard') }}">
										Dashboard Admin
									</a>
								</li>
							{% elseif 'ROLE_USER' in app.user.getRoles() %}
								<li
									class="nav-item">
									<a
										class="nav-link active text-white"
										href="{{ path('my_events') }}">
										Mes événements
									</a>
								</li>
							{% endif %}
						</ul>
					{% endif %}

					<!-- Partie droite : Connexion, Inscription ou Déconnexion -->
					<ul
						class="navbar-nav ms-auto d-flex align-items-center space-x-4">
						{% if app.user %}
							<li
								class="nav-item">
								<span
									class="nav-link text-white">
									Bonjour,
									{{ app.user.username }}
								</span>
							</li>
							<li>
								{% if app.user %}
									<a
										href="{{ path('account_show') }}" class="flex items-center text-gray-800 hover:underline">
										<svg
											xmlns="http://www.w3.org/2000/svg"
											fill="none"
											viewbox="0 0 24 24"
											stroke-width="1.5"
											stroke="currentColor"
											class="w-6 h-6 mr-2">
											<path
												stroke-linecap="round"
												stroke-linejoin="round"
												d="M15.75 9A3.75 3.75 0 1112 5.25 3.75 3.75 0 0115.75 9zM4.5 20.25a7.5 7.5 0 0115 0"/>
										</svg>
										Mon compte
									</a>
								{% endif %}
							</li>


							<li
								class="nav-item">
								<a
									class="nav-link text-white"
									href="{{ path('app_logout') }}" onclick="return confirm('Êtes-vous sûr de se déconnecter ?');">
									Déconnexion
								</a>
							</li>
						{% else %}
							<li
								class="nav-item">
								<a
									class="nav-link text-white"
									href="{{ path('app_register') }}">
									Inscription
								</a>
							</li>
							<li
								class="nav-item">
								<a
									class="nav-link text-white"
									href="{{ path('app_login') }}">
									Connexion
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>


		<!-- Main content -->
		<div>
			{% block body %}
			{% endblock %}
		</div>

		<!-- Scripts -->
		<script
			defer
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

		{% block javascripts %}
			<script>
				let timeout;

function resetTimer()
{





clearTimeout( timeout );
timeout = setTimeout( logout, 1800000 );





}

function logout()
{





fetch( '{{ path("app_logout") }}',
{ method: "POST" } ).then( () => location.reload() );





}

function initActivityListeners()
{





document.addEventListener( "mousemove", resetTimer );
document.addEventListener( "keypress", resetTimer );
document.addEventListener( "click", resetTimer );
document.addEventListener( "scroll", resetTimer );





}

document.addEventListener( "DOMContentLoaded", () => {





resetTimer(); // Démarre le timer dès que le DOM est chargé
initActivityListeners(); // Active les écouteurs d'événements
} );
			</script>
		{% endblock %}

	</html>
