{% extends "base.html.twig" %}

{% form_theme formEvent 'bootstrap_5_layout.html.twig' %}

{% block body %}
	<div
		class="d-flex justify-content-center align-items-center min-vh-100 position-relative"
		style="background: url('{{ asset('images/HAl3DL.webp') }}') no-repeat center center/cover;">

		{# Overlay sombre pour améliorer la lisibilité #}
		<div
			class="position-absolute top-0 start-0 w-100 h-100"
			style="background: rgba(0, 0, 0, 0.5);"></div>

		<div
			class="container position-relative"
			style="z-index: 10;">
			{# Messages de succès #}
			{% for message in app.flashes('success') %}
				<div
					class="alert alert-success alert-dismissible fade show text-center"
					role="alert">
					{{ message }}
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="alert"
						aria-label="Close"></button>
				</div>
			{% endfor %}

			<h1
				class="text-center text-4xl font-bold text-white mb-4">
				{% if editMode %}
					Modifier l'événement
				{% else %}
					Création de l'événement
				{% endif %}
			</h1>

			<div
				class="row justify-content-center">
				<div
					class="col-md-8 col-lg-6 bg-white p-5 rounded shadow-lg">
					{{ form_start(formEvent, {'attr': {'class': 'needs-validation'}}
					) }}

					<div
						class="mb-3">
						{{ form_row(formEvent.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre de l\'événement'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(formEvent.tags, {'attr': {'class': 'form-control', 'placeholder': 'Catégorie de l\'événement'}}
						) }}
					</div>

					<div
						class="mb-3">
						{{ form_row(formEvent.image, {'attr': {'class': 'form-control', 'placeholder': 'URL de l\'image'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(formEvent.place, {'attr': {'class': 'form-control', 'placeholder': 'Lieu de l\'événement'}}
						) }}
					</div>

					<div
						class="mb-3">
						{{ form_row(formEvent.date, {'attr': {'class': 'form-control'}}
						) }}
					</div>

					<div
						class="mb-3">
						{{ form_row(formEvent.content, {'attr': {'class': 'form-control', 'placeholder': 'Description de l\'événement'}}) }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-success w-100 py-2">
                            {% if editMode %}
                                Modifier
                            {% else %}
                                Ajouter l'événement
                            {% endif %}
                        </button>
                    </div>

                    {{ form_end(formEvent) }}
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
