{% extends 'base.html.twig' %}

{% block body %}
	<body
		class="bg-cover bg-center bg-fixed"
		style="background-image: url('{{ asset('images/white-music-background_njs6jzi3_thumbnail-1080_01.png') }}');">
		{# Afficher les messages flash avec Tailwind CSS #}
		{% for type, messages in app.flashes %}
			{% for message in messages %}
				<div
					class="p-4 mb-4 text-center text-white rounded-lg
												                    {% if type == 'success' %}bg-green-500{% endif %}
												                    {% if type == 'error' %}bg-red-500{% endif %}
												                    {% if type == 'warning' %}bg-yellow-500{% endif %}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<div
			class="flex justify-around flex-row items-center">
			<h1
				class="text-6xl font-bold mb-5">
				Evénement
			</h1>

			{# Boutons pour les administrateurs et utilisateurs #}
			{% if app.user %}
				{% if 'ROLE_ADMIN' in app.user.getRoles() %}
					<div
						class="flex gap-4 mb-5">
						<a
							href="{{ path('event_edit', {'id': event.id}) }}" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors duration-300">
							Modifier
						</a>
						<a
							href="{{ path('event_delete', {'id': event.id}) }}" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 transition-colors duration-300"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
							Supprimer
						</a>
					</div>
				{% elseif 'ROLE_USER' in app.user.getRoles() %}
					<div
						class="flex gap-4 mb-5">
						<a
							href="{{ path('event_register', {'id': event.id}) }}" class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors duration-300">
							S'inscrire
						</a>
					</div>
				{% endif %}
			{% endif %}
		</div>

		{# Section de présentation de l'événement #}
		<section
			class="flex justify-center items-center">
			<div
				class="bg-white rounded-lg shadow-lg overflow-hidden w-64 mt-6 transition-transform transform hover:scale-105">
				<div
					class="bg-white rounded-lg overflow-hidden">
					<img
						src="{{ event.image }}" alt="Évènement 1"
						class="w-full h-48 object-cover">
					<div
						class="p-6">
						<h3
							class="text-xl font-semibold text-gray-800">
							{{ event.title }}
						</h3>
						<p
							class="text-sm text-gray-700 mt-2 line-clamp-3">
							{{ event.place }}
						</p>
						<p
							class="text-sm text-gray-500">
							{{ event.date | date('d/m/y') }}
						</p>
						<p
							class="text-sm text-gray-700 mt-2 line-clamp-3">
							{{ event.tags }}
						</p>
					</div>
				</div>
			</div>
		</section>

		{# Contenu détaillé de l'événement #}
		<div
			class="p-20 text-justify">
			<p
				style="word-wrap: break-word; overflow-wrap: break-word; white-space: normal;">
				{{ event.content }}
			</p>
		</div>
	</body>
{% endblock %}
