{% extends 'base.html.twig' %}

{% block body %}
	{# Afficher les messages flash avec Tailwind CSS #}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div
				class="p-4 mb-4 text-center text-white rounded-lg
																				{% if type == 'success' %}bg-green-500{% endif %}
																				{% if type == 'error' %}bg-red-500{% endif %}
																				{% if type == 'warning' %}bg-yellow-500{% endif %}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}

	<div
		class="flex flex-col items-center p-4">
		<div
			class="flex flex-wrap justify-between items-center w-full max-w-5xl">
			<h1
				class="text-4xl md:text-6xl font-bold mb-5 text-gray-800">
				{{ event.title }}
			</h1>

			{# Boutons pour administrateurs et utilisateurs, positionnés à côté du titre #}
			{% if app.user %}
				<div
					class="flex gap-4 mb-5">
					{% if 'ROLE_ADMIN' in app.user.getRoles() %}
						<a
							href="{{ path('event_edit', {'id': event.id}) }}" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors duration-300 flex items-center gap-2">
							Modifier
						</a>
						<a
							href="{{ path('event_delete', {'id': event.id}) }}" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 transition-colors duration-300 flex items-center gap-2"
							onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
							Supprimer
						</a>
					{% elseif 'ROLE_USER' in app.user.getRoles() %}
						{% if isRegistered %}
							<a
								href="{{ path('event_unregister', {'eventId': event.id}) }}" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 transition-colors duration-300 flex items-center gap-2"
								onclick="return confirm('Êtes-vous sûr de vouloir vous désinscrire de cet événement ?');">
								Se désinscrire
							</a>
						{% else %}
							<a
								href="{{ path('event_register', {'id': event.id}) }}" class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition-colors duration-300 flex items-center gap-2">
								S'inscrire
							</a>
						{% endif %}
					{% endif %}
				</div>
			{% endif %}
		</div>

		{# Section de présentation de l'événement #}
		<section
			class="flex justify-center items-center p-4 w-full">
			<div
				class="bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-sm md:max-w-md lg:max-w-lg mt-6 transition-transform transform hover:scale-105">
				<img
					src="{{ event.image }}" alt="{{ event.title }}" class="w-full h-48 md:h-64 object-cover">
				<div
					class="p-6">
					<h3
						class="text-xl font-semibold text-gray-800">
						{{ event.title }}
					</h3>
					<p
						class="text-sm text-gray-700 mt-2">
						Lieu :
						{{ event.place }}
					</p>
					<p
						class="text-sm text-gray-500 mt-2">
						Date :
						{{ event.date | date('d/m/Y') }}
					</p>
					<p
						class="text-sm text-gray-700 mt-2">
						Tags :
						{{ event.tags }}
					</p>
				</div>
			</div>
		</section>

		{# Contenu détaillé de l'événement #}
		<div
			class="p-4 md:p-20 text-justify">
			<p
				class="text-gray-700 leading-relaxed">
				{{ event.content }}
			</p>
		</div>
	</div>
{% endblock %}
