{% extends 'base.html.twig' %}

{% block body %}

	<body class="bg-cover bg-center bg-fixed" style="background-image: url('{{ asset('images/white-music-background_njs6jzi3_thumbnail-1080_01.png') }}');"></body>

	<div class="flex justify-around flex-row items-center">

		<h1 class="text-6xl font-bold mb-5">Evénement</h1>

		<div class="flex gap-4 mb-5">
			<a href="{{ path('event_edit', {'id': event.id}) }}" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors duration-300">
				Modifier
			</a>
			<a href="{{ path('event_delete', {'id': event.id}) }}" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600 transition-colors duration-300" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');">
				Supprimer
			</a>
			<a href="" class="bg-green-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors duration-300">
				S'inscrire
			</a>

		</div>
	</div>


	<section class="flex justify-center items-center">

		<div class="bg-white rounded-lg shadow-md overflow-hidden">
			<img src="{{event.image}}" alt="Évènement 1" class="w-full h-48 object-cover">
			<div class="p-4">
				<h3 class="text-lg font-bold">{{event.title}}</h3>
				<p class="text-sm text-gray-500">{{event.date | date('d/m/y')}}</p>
				<p class="p-3">{{event.content | raw}}</p>

			</div>
		</div>

	</section>


	<div>
		<p class="p-3">{{event.content | raw}}
		</p>

	</div>

	<p>
		<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit maxime aperiam culpa nihil. Ullam porro cum reprehenderit beatae deleniti debitis saepe suscipit, obcaecati iste perferendis corporis tempora expedita minima!
		</span>
		<span>Maiores quia architecto veniam illum vero at, cumque aliquam ipsa magnam quisquam expedita debitis labore autem nostrum sunt ea nemo cum quae hic rerum similique facere? Veniam magni quaerat a.</span>
	</p>

	<p>
		<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit maxime aperiam culpa nihil. Ullam porro cum reprehenderit beatae deleniti debitis saepe suscipit, obcaecati iste perferendis corporis tempora expedita minima!
		</span>
		<span>Maiores quia architecto veniam illum vero at, cumque aliquam ipsa magnam quisquam expedita debitis labore autem nostrum sunt ea nemo cum quae hic rerum similique facere? Veniam magni quaerat a.</span>
	</p>
	<p>
		<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit maxime aperiam culpa nihil. Ullam porro cum reprehenderit beatae deleniti debitis saepe suscipit, obcaecati iste perferendis corporis tempora expedita minima!
		</span>
		<span>Maiores quia architecto veniam illum vero at, cumque aliquam ipsa magnam quisquam expedita debitis labore autem nostrum sunt ea nemo cum quae hic rerum similique facere? Veniam magni quaerat a.</span>
	</p>
	<p>
		<span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui suscipit maxime aperiam culpa nihil. Ullam porro cum reprehenderit beatae deleniti debitis saepe suscipit, obcaecati iste perferendis corporis tempora expedita minima!
		</span>
		<span>Maiores quia architecto veniam illum vero at, cumque aliquam ipsa magnam quisquam expedita debitis labore autem nostrum sunt ea nemo cum quae hic rerum similique facere? Veniam magni quaerat a.</span>
	</p>
{% endblock %}
